/* como estos datos se van a repetir creamos variables */
:root {
    --primary-clr: #0052ff;
    --secondary-clr: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Estos estilos corresponden al header */
header .top-menu-container {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    /* separa el logo del (boton + menu) y segun tamaño
    se van manteniendo de la misma manera */
    justify-content: space-between;

    /* linea debajo del menu */
    /* sombra x (positivo a la derecha) y positivo (abajo)
    blur o difuminado en px, spead-radius, color */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.178);
    /* altura menu superior */
    height: 55px;
}

header .top-menu-container .logo img {
    width: 112px;
    height: 20px;
    margin-left: 30px;
}

header .top-menu-container .buttons-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

header .top-menu-container .get-started {
    height: 36px;
    width: 107px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    /* usar la variable declarada con var */
    background-color: var(--primary-clr);
    color: var(--secundary-clr);
    font-weight: 600;
    font-size: 14px;
    /* padding: 6px 12px; */
    margin: 10px;
}

/* header .hamburger .hamburger--vortex .hamburger-box { */
/* .hamburger-inner {
    display: grid;
    background-color: red;
} */

/* mostrar el menu */
header .drop-down-menu {
    display: grid;
    /* margin-top: 3px; */
    /* background: linear-gradient(90deg, aquamarine, blue);  */
    height: 50vw;
    /* display: none; */

    /* para que quede justo a la
    altura del dispositivo se debe
    calcular el total de la altura 
    del dispositivo menos la altura
    del menu*/
    height: calc(100vh - 55px);

    display: flex;
    gap: 1.5rem;

}

/* ocultar el menu */
header .hidden {
    display: none;
}

/* muestro el menu por javascript */
/* menu.classList.toggle('show') */
header .show {
    display: grid;
}


header .drop-down-menu nav ul {
    list-style: none;
    padding: 0;
    /* background-color: red; */
    height: 100%;
    
    /* para distanciarlos a los items del menu */
    display: flex;
    flex-direction: column;
    /* deja un espacio al arriba y abajo, luego
    centra todo en forma vertical cada item */
    justify-content: space-between;
    padding-left: 1.75rem;
    margin-top: 1.75rem;
    font-size: 1.1rem;
    font-weight: 600;
}

header .drop-down-menu nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;    
}

header .drop-down-menu .menu-buttons-container {
    /* contenedor de los botones */
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    justify-content: space-evenly;
    /* definir el margen para que se adapte
    al responsive */
    margin: 1.75rem;
}

.btn-style {
    /* estilo de los botones */
    padding: 1.5rem 0;
    font-size: 1.05rem;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    /* child(1) */
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
}


    /* de la clase menu-buttons-container
button:nth-child(1) sería el primer boton hijo 
    button:nth-child(2) sería el segundo 
    boton hijo.
    El child(1) esta definido en la clase
    btn-style */

header .drop-down-menu .menu-buttons-container button:nth-child(2) {
    /* por defecto los botones se configuran
    en la clase btn-style, luego en este caso
    se sobreescribe */
    background-color: var(--secondary-clr);
    border: 3.5px solid var(--primary-clr);
    color: var(--primary-clr);
}

/* Estilos correspondientes a la primera seccion  */

#welcome-section {
    margin-left: 50px;
}
#welcome-section .svg-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-clr);
    padding-left: 20px;
}

#welcome-section > h2 {
    font-size: 3rem;
}

#welcome-section > p {
    line-height: 1.5rem;
    font-size: 18px;
    font-weight: 600;
    width: 80%;
}

#welcome-section > .input-container {
    /* contenedor de los botones */
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    justify-content: space-evenly;
    /* definir el margen para que se adapte
    al responsive */
    margin: 1.75rem;
    gap: 20px;
}

#welcome-section > .input-container input {
    /* se aplica clase btn-style, se configura con 
    child(2) */
    background-color: var(--secondary-clr);
    border: 2px solid rgba(0, 0, 0, 0.14);
    color: rgba(0, 0, 0, 0.5);
}
